@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis para o tema claro */
:root {
  --background: #F5F5F5;
  --bg-contrast: #FFF;
  --foreground: #171717;
  --link: #29B6F6;
  --muted: #8a8a8a;
}

/* Variáveis para o tema escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --bg-contrast: #454545;
    --foreground: #f1f1f1;
    --link: #FFEB3B;
    --muted: #a0a0a0;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
